* {margin: 0; border: 0; font-size: 62.5%; font-family: PingFangSC-Regular, -apple-system, Simsun;}
body {background-color: #eff0f4;}
::-webkit-input-placeholder { /* WebKit browsers */
color: #999;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
color: #999;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
color: #999;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
color: #999;
}
.header {
  width: 100%;
  background-color: #5fc0cd;
  float: left;
  margin-bottom: 5%;
}
.close {
  font-size: 5rem;
  color: white;
  float: left;
  position: relative;
  left: 5vw;
}
.signin {
  font-size: 5rem;
  color: white;
  float: right;
  position: relative;
  right: 5vw;
}
.login {
  position: absolute;
  left: 50%;
  max-width: 100%;
  max-height: 100%;
  transform: translate(-50%,0);
  font-size: 5rem;
}
.login_p {
  color: white;
  float: left;
  position: relative;

}

.phone_input {
  width: 100%;
  background-color: #ffffff;
  float: left;
  max-width: 100%;
  margin-bottom: 5%;
}
.phone_img {
  float: left;
  max-width: 100%;
  width: 15%;
}
.reg_img {
  float: left;
  max-width: 100%;
  width: 5%;
}
.user_phone {
  font-family: PingFangSC-Regular, -apple-system, Simsun;
  color: gray;
  float: left;
  padding-left: 5%;
  padding-right: 5%;
  max-width: 100%;
  width: 60%;
  font-size: 8vw;
  padding-top: 3%;
  padding-bottom: 3%;
}

.code_input {
  width: 100%;
  background-color: #ffffff;
  float: left;
  max-width: 100%;
  margin-bottom: 5%;
}
.code_img {
  float: left;
  max-width: 100%;
  width: 15%;
}
.reg_img2 {
  float: left;
  max-width: 100%;
  width: 5%;
}
.user_code {
  font-family: PingFangSC-Regular, -apple-system, Simsun;
  color: gray;
  float: left;
  padding-left: 5%;
  padding-right: 5%;
  max-width: 100%;
  width: 60%;
  font-size: 8vw;
  padding-top: 3%;
  padding-bottom: 3%;
}

.bottom_login {
  width: 100%;
  background-color: #5fc0cd;
  float: left;
  margin-bottom: 5%;
}
.login_bottom {
  font-size: 5rem;
  color: white;
  float: left;
  position: relative;
  left: 50vw;
  transform: translate(-50%,0);
}

.forget_code {
  float: right;
  right: 5%;
  color: #5fc0cd;
}
