
body {margin: 0; border: 0; font-size: 62.5%;}
.background {background-color: #68cdd5; width: 100vw; padding-bottom: 100vh;}
.img1 {width: 3rem;}
.img2 {
  width: 10rem;
  left: 50vw;
  top: 15vh;
  position:absolute;
  transform: translate(-50%,-50%);
}
.word {margin-left: 15vw; margin-right: 15vw; position: absolute; top: 30vh; color: white; font-size:1rem; }
.clear {clear: both;}
.img3 {
  width: 5rem;
  left: 15vw;
  top: 50vh;
  position: absolute;
  float: left;
}
.img4 {
  width: 5rem;
  right: 15vw;
  top: 50vh;
  position: absolute;
  float: left;
}
