* {margin: 0; border: 0;}
html {height: 100%;}
.Site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}
/* header */
.header {
  display: flex;
  background-color: #5fc0cd;
  flex-direction: row;
  align-items: center;
  overflow: auto;
  position: absolute;
  width: 100%;
  z-index: 99;
}
.back_bottom {
  max-width: 100%;
  width: 24px;
  left: 16px;
  position: relative;
}
.person_mainpage {
  color: white;
  max-width: 100%;
  position: absolute;
  left: 50%;
  transform: translate(-50%,0);
  font-size: 1rem;
  font-family: PingFangSC-Regular, -apple-system, Simsun;
}

/* main body */
.mainBody {
  display: flex;
  overflow: scroll;
  flex: 1;
  width: 100%;
  position: relative;
  overflow-x: hidden;
}
.doctor {
  max-width: 100%;
  height: 165px;
  width: 100%;
}
.head_picture {
  display: flex;
  flex-direction: row;
}
.head_picture .head_pictureimg {
  width: 80px;
  position: absolute;
  top: 120px;
  transform: translate(0,-50%);
  left: 16px;
}
.head_words {
  display: flex;
  flex-direction: column;
}
.line1 {
  color: white;
  display: flex;
  flex-direction: row;
  position: absolute;
  top: 100px;
  left: 120px;
}
.line1 .old {
  position: absolute;
  width: 40px;
  left: 60px;
  top: 5px;
  font-size: 12px;
}
.line2 {
  color: white;
  display: flex;
  flex-direction: row;
  position: absolute;
  top: 130px;
  left: 120px;
}
.line2 .position {
  width: 9px;
  height: 15px;
  position: absolute;
}
.line2 .words {
  position: absolute;
  left: 15px;
  width: 120px;
  font-size: 12px;
}

/* main words */
.main_words {
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 0px;
  top: 200px;
}
/* line 1 */
.mainWords_line1 {
  display: flex;
  flex-direction: row;
  position: absolute;
}
.mainWords_line1_img {
  position: absolute;
  height: 15px;
  width: 3px;
  left: 16px;
  top: 25px;
}
.mainWords_line1Word {
  position: absolute;
  top: 20px;
  left: 40px;
  width: 100vw;
}
/* separation_line1 */
.separation_line1 {
  border: 1px solid #e1e5e7;
  position: absolute;
  top: 50px;
  width: 100vw;
}
/* line 2 */
.mainWords_line2 {
  display: flex;
  flex-direction: row;
  position: absolute;
}
.star1 {
  width: 15px;
  height: 15px;
  position: absolute;
  left: 40px;
  top: 60px;
  transform: translate(0,25%);
}
.mainWords_line2_word1 {
  position: absolute;
  top: 60px;
  left: 60px;
  width: 40px;
}
.reg_line2 {
  position: absolute;
  top: 60px;
  left: 100px;
}
.star2 {
  width: 15px;
  height: 15px;
  position: absolute;
  top: 60px;
  left: 110px;
  transform: translate(0,25%);
}
.mainWords_line2_word2 {
  position: absolute;
  top: 60px;
  left: 130px;
  width: 80px;
}
/* separation_line2 */
.separation_line2 {
  border: 1px solid #e1e5e7;
  position: absolute;
  top: 90px;
  width: 100vw;
}
/* line3 */
.mainWords_line3 {
  display: flex;
  flex-direction: row;
  position: absolute;
}
.mainWords_line3_word1 {
  position: absolute;
  left: 40px;
  top: 100px;
  width: 100px;
  color: #e5e5e5;
}
.reg_line3 {
  position: absolute;
  top: 100px;
  left: 110px;
}
.mainWords_line3_word2 {
  position: absolute;
  left: 120px;
  top: 100px;
  width: 100px;
}
/* separation_line3 */
.separation_line3 {
  border: 1px solid #e1e5e7;
  position: absolute;
  top: 130px;
  width: 100vw;
}
/* line4 */
.mainWords_line4 {
  display: flex;
  flex-direction: row;
  position: absolute;
}
.mainWords_line4_word1 {
  position: absolute;
  left: 40px;
  top: 140px;
  width: 100px;
  color: #e5e5e5;
}
.reg_line4 {
  position: absolute;
  top: 140px;
  left: 110px;
}
.mainWords_line4_word2 {
  position: absolute;
  left: 120px;
  top: 140px;
  width: 100px;
}
/* separation_line4 */
.separation_line4 {
  border: 1px solid #e1e5e7;
  position: absolute;
  top: 170px;
  width: 100vw;
}
/* line5 */
.mainWords_line5 {
  display: flex;
  flex-direction: row;
  position: absolute;
}
.mainWords_line5_word1 {
  position: absolute;
  left: 40px;
  top: 180px;
  width: 100px;
  color: #e5e5e5;
}
.reg_line5 {
  position: absolute;
  top: 180px;
  left: 110px;
}
.mainWords_line5_word2 {
  position: absolute;
  left: 120px;
  top: 180px;
  width: 100px;
  color: red;
}
/* separation_line5 */
.separation_line5 {
  border: 1px solid #e1e5e7;
  position: absolute;
  top: 210px;
  width: 100vw;
}
/* line6 */
.mainWords_line6 {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100vw;
  top: 220px;
  align-items: center;
}
.mainWords_line6_word1 {
  position: relative;
  left: 40px;
  width: 100px;
  color: #e5e5e5;
}
.reg_line6 {
  position: absolute;
  left: 110px;
}
.mainWords_line6_word2 {
  position: relative;
  left: 20px;
  margin-right: 12px;
  flex: 1;
}
/* separation_line6 */
.separation_line6 {
  border: 1px solid #e1e5e7;
  position: relative;
  top: 230px;
  width: 100vw;
}

/* footer */
.footer {
  width: 100%;
  display: flex;
  flex-direction: row;
  position: relative;
  bottom: 0;
  text-align: center;
  overflow: auto;
  z-index: 99;
  padding-bottom: 15%;
  padding-top: 5%;
}
.leave_msg {
  width: 40%;
  position: absolute;
  left: 5%;
  border: 2px solid #5fc0cd;
  border-radius: 10%;
  font-size: 1rem;
  display: flex;
  padding-top: 2%;
  padding-bottom: 2%;
}
.connect_ph {
  width: 40%;
  position: absolute;
  left: 55%;
  background-color: #5fc0cd;
  border: 2px solid #5fc0cd;
  border-radius: 10%;
  font-size: 1rem;
  display: flex;
  padding-top: 2%;
  padding-bottom: 2%;
}
.leave_msg p {
  color: #5fc0cd;
  position: relative;
  left: 50%;
  transform: translate(-50%,0);

}
.connect_ph p {
  color: white;
  position: relative;
  left: 50%;
  transform: translate(-50%,0);

}
