.content {
  float: left;
  position: relative;
  min-height: 1px;
  left: 16.66666667%;
  width: 66.66666667%;
}
.backgroundcolor_fff {
  background-color: #fff;
}
.backgroundcolor_29b078 {
  background-color: #29b078;
}
@font-face {
  font-family: 'Glyphicons Halflings';
  src: url('fonts/glyphicons-halflings-regular.eot');
  src: url('fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('fonts/glyphicons-halflings-regular.woff2') format('woff2'), url('fonts/glyphicons-halflings-regular.woff') format('woff'), url('fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}
.header .row {
  margin-left: -15px;
  margin-right: -15px;
  padding-left: 15px;
  padding-right: 15px;
  height: 50px;
}
.header .row .tel_words {
  float: left;
  position: relative;
  color: green;
  font-size: 14px;
  top: 18px;
}
.header .row .header_logo_div {
  float: right;
  position: relative;
  top: 5px;
}
.header .row .header_link_div {
  float: right;
  position: relative;
  right: -15px;
  width: 33.33333333%;
  top: 18px;
}
.header .row .header_link_div li {
  float: left;
  width: 25%;
  text-align: center;
}
.header .row .header_link_div li a {
  font-size: 14px;
  color: #fff;
}
.header .row .header_link_div li div {
  position: relative;
  top: 13px;
  padding-bottom: 5px;
}
.header .row .header_link_div li:hover div {
  background-color: #fff;
}
.carousel {
  position: relative;
  margin-left: -15px;
  margin-right: -15px;
}
.carousel .carousel-indicators {
  position: absolute;
  bottom: 10px;
  left: 50%;
  z-index: 15;
  width: 60%;
  padding-left: 0;
  margin-left: -30%;
  text-align: center;
  list-style: none;
}
.carousel .carousel-indicators li {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 1px;
  text-indent: -999px;
  cursor: pointer;
  background-color: #000 \9;
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid #fff;
  border-radius: 10px;
}
.carousel .carousel-indicators .active {
  background-color: #fff !important;
}
.carousel .carousel-inner {
  position: relative;
  width: 100%;
  overflow: hidden;
}
.carousel .carousel-inner .item {
  position: relative;
  display: none;
}
.carousel .carousel-inner .item img {
  display: block;
  max-width: 100%;
  height: auto;
}
.carousel .carousel-inner .active {
  left: 0;
  display: block;
}
.carousel .carousel-inner .active_left {
  display: block;
}
.carousel .carousel-inner .active_next {
  position: absolute;
  left: 100%;
  top: 0;
  width: 100%;
  display: block;
}
.carousel .carousel-inner .active_prev {
  position: absolute;
  left: -100%;
  top: 0;
  width: 100%;
  display: block;
}
.carousel .carousel-inner .active_right {
  display: block;
}
.carousel .carousel-inner .carousel-caption {
  position: absolute;
  right: 15%;
  bottom: 20px;
  left: 15%;
  z-index: 10;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #fff;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
}
.carousel .carousel-inner .caption_box {
  bottom: 50%;
  transform: translate(0, 50%);
}
.carousel .carousel-inner .caption_box .caption_line1 {
  float: right;
  position: relative;
  width: 66.66666667%;
  padding-left: 15px;
  padding-right: 15px;
  font-size: 20px;
}
.carousel .carousel-inner .caption_box .caption_line2 {
  float: right;
  position: relative;
  width: 83.33333333%;
  padding-left: 15px;
  padding-right: 15px;
}
.carousel .carousel-inner .caption_box .caption_line2 .caption_line2_left {
  font-size: 50px;
}
.carousel .carousel-inner .caption_box .caption_line2 .caption_line2_right {
  font-size: 25px;
}
.carousel .carousel-control {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 15%;
  font-size: 20px;
  color: #fff;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
  background-color: rgba(0, 0, 0, 0);
  filter: alpha(opacity=50);
  opacity: .5;
}
.carousel .carousel-control .glyphicon {
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.carousel .carousel-control:hover,
.carousel .carousel-control:focus {
  color: #fff;
  text-decoration: none;
  filter: alpha(opacity=90);
  outline: 0;
  opacity: .9;
}
.carousel .carousel-control.left {
  background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.0001) 100%);
  background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.0001) 100%);
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.0001)));
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.0001) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#80000000', endColorstr='#00000000', GradientType=1);
  background-repeat: repeat-x;
}
.carousel .carousel-control.right {
  right: 0;
  left: auto;
  background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.0001) 0%, rgba(0, 0, 0, 0.5) 100%);
  background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0.0001) 0%, rgba(0, 0, 0, 0.5) 100%);
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.0001)), to(rgba(0, 0, 0, 0.5)));
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.0001) 0%, rgba(0, 0, 0, 0.5) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#80000000', GradientType=1);
  background-repeat: repeat-x;
}
.carousel .left {
  left: 0;
  right: auto;
}
.carousel .left .glyphicon-chevron-left {
  position: absolute;
  top: 50%;
  z-index: 5;
  display: inline-block;
  left: 50%;
  width: 30px;
  height: 30px;
  margin-top: -10px;
  font-size: 30px;
}
.carousel .left .glyphicon-chevron-left::before {
  content: "\e079";
}
.carousel .right {
  right: 0;
  left: auto;
}
.carousel .right .glyphicon-chevron-right {
  position: absolute;
  top: 50%;
  z-index: 5;
  display: inline-block;
  width: 30px;
  height: 30px;
  margin-top: -10px;
  font-size: 30px;
}
.carousel .right .glyphicon-chevron-right::before {
  content: "\e080";
}
.footer {
  position: absolute;
  width: 100%;
  height: 400px
  bottom: 0;
  margin: 0 -15px 0 -15px;
  background-color: #26a26f;
  overflow-x: hidden;
}
.footer .footer_body {
  margin-top: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid white;
  color: white;
}
.footer .content_left {
  float: left;
  width: 66.66666667%;
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  box-sizing: border-box;
}
.footer .content_left_half {
  float: left;
  width: 50%;
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  box-sizing: border-box;
}
.footer .content_right {
  float: left;
  width: 33.33333333%;
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  box-sizing: border-box;
}
.footer .footerbody_left,
.footer .footerbody_right {
  position: relative;
  right: 45px;
  text-align: left;
}
.footer .footerbody_left p,
.footer .footerbody_right p {
  margin-bottom: 20px;
}
.footer .foterbody_left_contact {
  position: relative;
  top: 40px;
}
.footer .footerbody_left a,
.footer .footerbody_right a {
  text-decoration: none;
  color: white;
}
.footer .footerbody_left a:hover {
  text-decoration: underline;
}
.footer .footerbody_right a:hover {
  text-decoration: underline;
}
.footer .footerbody_left_title,
.footer .footerbody_right_title,
.footer .foterbody_left_contact {
  font-size: 16px;
}
.footer .footerbody_right_content a,
.footer .foterbody_left_contact a {
  font-size: 14px;
  line-height: 1.42857143;
}
.footer .weixin_box {
  float: right;
  margin-right: 10%;
}
.footer .weixin_box p {
  margin-bottom: 10px;
}
.footer .copyright {
  color: white;
  font-size: 8px;
  text-align: center;
}
.footer .copyright_line {
  display: inline-block;
}
.footer .copyright_line p {
  margin-bottom: 10px;
}
.footer .copyright_p {
  float: left;
  padding-right: 5px;
  border-right: 1px solid #fff;
}
.footer .beian {
  float: left;
  padding-left: 5px;
}
