* {
  padding: 0;
  margin: 0;
}
.navbar-fixed-top {
  background-color: #5fc0cd;
}
.navbar-center {
  background-color: #55a8b3;
  position: absolute;
  margin-top: 5px;
  left: 50vw;
  transform: translate(-50%, 0);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.navbar-img {
  position: absolute;
  height: 40px;
  right: 0;
}
.find_gz a {
  color: white;
}
.find_hg a {
  background-color: white;
  color: #55a8b3;
}

.breadcrumb {
  position: absolute;
  top: 50px;
  left: 0;
  padding-left: 0;
  padding-right: 0;
  background-color: #ffffff;
  border-bottom: 1px solid #e1e5e7;
  color: #CCCCCC;
  width: 100%;
  text-align: center;
}

.breadcrumb div {
  display: inline-block;
}

.menu {
  width: 30%;
}
.menu .btn {
  width: 100%;
  background-color: #ffffff;
  color: #cfcfcf;
  border: 0;
}
.menu .btn .caret {
  position: absolute;
  right: 0;
  top: 50%;
}

.navbar-fixed-bottum {
  position: fixed;
  left: 0;
  bottom: 0;
  margin-bottom: 0;
  border-width: 1px 0 0;
  width: 100%;
  background-color: #f8fafb;
}
.footer_leftbutton {
  position: absolute;
  transform: translate(-50%, 0);
  left: 25%;
  height: 25px;
  padding: 0;
  border: 0;
  background-color: #f8fafb;
  color: #5fc0cd;
}
.footer_centerbutton {
  position: absolute;
  transform: translate(-50%, 0);
  left: 50%;
  height: 50px;
  padding: 0;
  border: 0;
  background-color: #f8fafb;
}
.footer_rightbutton {
  position: absolute;
  transform: translate(-50%, 0);
  left: 75%;
  height: 25px;
  padding: 0;
  border: 0;
  background-color: #f8fafb;
  color: #cfcfcf;
}
.centerimg {
  height: 100%;
  width: 72px;
}
.leftimg {
  height: 100%;
  width: 50%;
}
.rightimg {
  height: 100%;
  width: 50%;
}

.mainbody {
  position: absolute;
  left: 0;
  padding-top: 8px;
  padding-bottom: 50px;
  overflow-x: hidden;
  top: 100px;
  width: 100%;
}
.line {
  border-bottom: 1px solid #e1e5e7;
  padding-bottom: 8px;
}
.calendar {
  position: relative;
  left: 0;
  padding-left: 25px;
  padding-right: 10px;
  height: 16px;
  padding-right: 10px;
}
.service_date {
  color: #cfcfcf;
}
.service_time {
  position: relative;
  left: 55px;
}
.service_price {
  position: relative;
  left: 95px;
  color: #ec6b4a;
}
.link_right {
  position: relative;
  left: 100px;
  height: 20px;
}
.position_img {
  position: relative;
  left: 0;
  height: 20px;
  padding-left: 25px;
  padding-right: 10px;
}
.position {
  position: relative;
  color: #cfcfcf;
}
