* {
  padding: 0;
  margin: 0;
  font-family: PingFangSC-Regular, -apple-system, Simsun;
  overflow-x: hidden;
  overflow-y: hidden;
}

.navbar-fixed-top {
  background-color: #29bde0;
}
.header_back {
  border: 0;
}
.header_back_img {
  height: 50px;
  width: 60px;
}

.mainbody {
  position: absolute;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #f0f0f0;
}

.lastgame {
  position: relative;
  top: 60px;
  left: 15px;
  width: 100%;
  padding: 10px 0;
  border: 1px solid #c9c9c9;
  text-align: center;
  background-color: #ffffff;
  z-index: 2;
}
.lastgame_words {
  position: relative;
  font-size: 20px;
  color: #b3b3b3;
}
.back_icon {
  position: relative;
  height: 28px;
  right: 15px;
}

.catchgoastgame {
  position: relative;
  top: 70px;
  bottom: 0px;
  left: 15px;
  width: 100%;
  height: 100%;
  border: 1px solid #c9c9c9;
  background-color: #ffffff;
  text-align: center;
}
.title {
  padding: 10px 0;
  border-bottom: 1px solid #fbb435;
  font-size: 20px;
  color: #fbb435;
}

.body {
  margin-top: 20px;
}
.boxgrid {
  padding: 10px 0;
  margin: 0 35px 0 20px;
  background-color: #69d1e9;
  color: white;
}
.boxgrid p {
  transform: translate(0, 25%);
}
.words {
  padding: 10px 0 0 0;
  color: #9a9a9a;
}
.right_jump {
  position: absolute;
  width: 20px;
  right: 15px;
  top: 160px;
}
