* {
  padding: 0;
  margin: 0;
}

.navbar-fixed-top {
  background-color: #29bde0;
}
.header_back {
  border: 0;
}
.header_back_img {
  height: 50px;
  width: 60px;
}

.mainbody {
  position: absolute;
  left: 0;
  top: 50px;
  width: 100vw;
  height: 100vh;
  background-color: #f0f0f0;
  overflow: hidden;
  text-align: center;
}

.lastgame {
  padding: 10px 0;
  margin-top: 20px;
  border: 1px solid #c9c9c9;
  font-size: 20px;
  color: #9a9a9a;
  background-color: #ffffff;
}
.back_icon {
  height: 24px;
  width: 12px;
}

.body_games {
  margin-top: 20px;
}
.catch_goast_game {
  padding: 10px 0;
  border: 1px solid #c9c9c9;
  font-size: 20px;
  border-bottom: 1px solid #fbb435;
  color: #fbb435;
  background-color: #ffffff;
}
.boxgrid {
  padding: 10px 0;
  background-color: #ffffff;
  border-left: 1px solid #c9c9c9;
  border-right: 1px solid #c9c9c9;
}
.wordgrid {
  background-color: #ffffff;
  border-left: 1px solid #c9c9c9;
  border-right: 1px solid #c9c9c9;
}
.box {
  padding: 15px 0;
  font-size: 20px;
  color: white;
  background-color: #69d1e9;
}
.words {
  color: #919191;
  background-color: #ffffff;
}
.circle {
  border-bottom: 1px solid #c9c9c9;
}
.circle_box {
  display: inline-block;
}
.circle_blue {
  float: left;
  width: 20px;
  height: 20px;
  background-color: #69d1e9;
  border-radius: 50%;
}
.circle_gray {
  float: left;
  width: 20px;
  height: 20px;
  background-color: #f0f0f0;
  border-radius: 50%;
}

.to_right {
  position: relative;
  top: -250px;
  left: 1.5%;
}
.btn_to_right {
  padding: 0;
  border: 0;
  width: 20px;
  background-color: #ffffff;
}
.to_right_img {
  width: 20px;
  height: 50px;
}
