* {
  margin: 0;
  padding: 0;
}

.row1 {
  background-color: #fff;
}
.tel_words {
  position: relative;
  color: green;
  transform: translate(0, 50%);
}
.tel_words_div {
  padding-left: 0;
}
.row1_phone,
.row1_qq,
.row1_wechat {
  float: right;
}

.navbar {
  border: 0;
  margin-bottom: 0;
  background-color: #29b078;
  text-align: center;
}
.nav-header {
  position: relative;
  margin: 0 -15px;
}
.nav_header_link {
  position: relative;
  height: 86px;
  margin-bottom: 0;
}
.nav_header_link li {
  list-style: none;
}
.nav_header_link li a {
  position: relative;
  height: 86px;
  display: inline-block;
  font-size: 16px;
  text-align: center;
  color: white;
  line-height: 82px;
  text-decoration: none;
}
.nav_header_link li a:hover {
  border-bottom: 5px solid #fff;
}
.logo_img {
  position: relative;
  width: 118px;
  height: 67px;
  top: 10px;
  padding-left: 0;
}
.header_adv {
  background-color: #f1a750;
}

.line_row {
  background-color: #fafafa;
}
.line1 {
  padding: 20px 15px 20px 15px;
  font-size: 16px;
}
.line1 p {
  margin-bottom: 0;
}
.line1 span {
  color: #29b078;
}

.mainbody {
  background-color: #fafafa;
}
.mainbody_left_title_row {
  border: 1px solid #e6e6e6;
  background-color: #fff;
}
.mainbody_left_line_row {
  border-left: 1px solid #e6e6e6;
  border-right: 1px solid #e6e6e6;
  background-color: #fff;
}
.mainbody_title_p {
  padding: 30px 0;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
}
.enterprice_row1 {
  padding-top: 30px;
  padding-bottom: 10px;
}
.enterprice_row {
  padding-top: 10px;
  padding-bottom: 10px;
}
.circle_hollow {
  position: relative;
  float: left;
  width: 10px;
  height: 10px;
  top: 5px;
  margin-right: 5px;
  border-radius: 50%;
  border: 1px solid #ff7628;
}
.circle_solid {
  position: relative;
  float: left;
  width: 10px;
  height: 10px;
  top: 5px;
  margin-right: 5px;
  border-radius: 50%;
  border: 1px solid #ff7628;
  background-color: #ff7628;
}
.enterprice_name {
  float: left;
  padding-left: 0;
  color: #65c096;
  font-weight: bold;
}
