* {
  margin: 0;
  padding: 0;
}

.row1 {
  background-color: #fff;
}
.tel_words {
  position: relative;
  color: green;
  transform: translate(0, 50%);
}
.tel_words_div {
  padding-left: 0;
}
.row1_phone,
.row1_qq,
.row1_wechat {
  float: right;
}

.navbar {
  border: 0;
  margin-bottom: 0;
  background-color: #29b078;
  text-align: center;
}
.nav-header {
  position: relative;
  margin: 0 -15px;
}
.nav_header_link {
  position: relative;
  height: 86px;
  margin-bottom: 0;
  padding-right: 0;
}
.nav_header_link li {
  list-style: none;
}
.nav_header_link li a {
  position: relative;
  height: 86px;
  padding-right: 0;
  display: inline-block;
  font-size: 16px;
  text-align: center;
  color: white;
  line-height: 82px;
  text-decoration: none;
}
.nav_header_link li a:hover {
  border-bottom: 5px solid #fff;
}
.logo_img {
  position: relative;
  width: 118px;
  height: 67px;
  top: 10px;
  padding-left: 0;
}
.header_adv {
  background-color: #f1a750;
}

.line_row {
  background-color: #fafafa;
}
.line1 {
  padding: 20px 15px 20px 15px;
  font-size: 16px;
}
.line1 p {
  margin-bottom: 0;
}
.line1 span {
  color: #29b078;
}


.mainbody {
  background-color: #fafafa;
}
.mainbody_left_title_row {
  border: 1px solid #e6e6e6;
  background-color: #fff;
}
.mainbody_left_line_row {
  border-left: 1px solid #e6e6e6;
  border-right: 1px solid #e6e6e6;
  background-color: #fff;
}
.mainbody_title_p {
  padding: 30px 0;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
}
.enterprice_row1 {
  padding-top: 30px;
  padding-bottom: 10px;
}
.enterprice_row {
  padding-top: 10px;
  padding-bottom: 10px;
}
.circle_hollow {
  position: relative;
  float: left;
  width: 10px;
  height: 10px;
  top: 5px;
  margin-right: 5px;
  border-radius: 50%;
  border: 1px solid #ff7628;
}
.circle_solid {
  position: relative;
  float: left;
  width: 10px;
  height: 10px;
  top: 5px;
  margin-right: 5px;
  border-radius: 50%;
  border: 1px solid #ff7628;
  background-color: #ff7628;
}
.enterprice_name {
  float: left;
  padding-left: 0;
  color: #65c096;
  font-weight: bold;
}

.mainbody_right_row {
  border-left: 1px solid #eeeded;
  border-right: 1px solid #eeeded;
  background-color: #fff;
}
.enterprice_intro_title {
  border-top: 1px solid #eeeded;
  border-bottom: 1px solid #eeeded;
}
.tudou_logo_div {
  padding: 0;
}
.tudou_img {
  position: relative;
  top: 55px;
  padding: 0;
  transform: translate(0, -50%);
}
.tudou_intro,
.maibody_p {
  color: #c3c3c3;
}
.mainbody_right_title {
  margin-top: 20px;
  margin-bottom: 20px;
}
.mainbody_right_line {
  margin-top: 20px;
}


.footer_margin {
  background-color: #fafafa;
}
.footer_margin_area {
  height: 200px;
}


.navbar-bottom {
  position: absolute;
  height: 400px
  bottom: 0;
  margin: 0 -15px 0 -15px;
  background-color: #26a26f;
  overflow-x: hidden;
}
.footer_body {
  margin-top: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid white;
  color: white;
}

.footerbody_left,
.footerbody_right {
  position: relative;
  right: 45px;
  text-align: left;
}
.footerbody_left p,
.footerbody_right p {
  margin-bottom: 20px;
}
.foterbody_left_contact {
  position: relative;
  top: 40px;
}
.footerbody_left a,
.footerbody_right a {
  text-decoration: none;
  color: white;
}
.footerbody_left a:hover {
  text-decoration: underline;
}
.footerbody_right a:hover {
  text-decoration: underline;
}
.footerbody_left_title,
.footerbody_right_title {
  font-size: 16px;
}
.weixin_box {
  margin-right: 10%;
}

.copyright {
  color: white;
  font-size: 8px;
  text-align: center;
}
.copyright_line {
  display: inline-block;
}
.copyright_p {
  float: left;
  padding-right: 5px;
  border-right: 1px solid #fff;
}
.beian {
  float: left;
  padding-left: 5px;
}
