* {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}
.backgroundcolor_white {
  background-color: #fff;
}
.fontcolor_white {
  color: #fff;
}
.fontcolor_black {
  color: black;
}
.fontcolor_999999 {
  color: #999999;
}
.underline {
  text-decoration: underline;
}


.navbar {
  margin-bottom: 0;
}
.container-fluid {
  padding: 0;
}
.row1 {
  display: none;
  color: green;
}
.small-header p {
  position: relative;
  top: 7px;
  text-align: right;
}
.small-header p a {
  color: black;
  text-decoration: none;
}
.small-header p span {
  color: green;
  font-size: 16px;
}
.nav_header_link {
  display: none;
}
.nav-header,
.navbar {
  border: 0;
  background-color: #29b078;
}
.small_header_img {
  position: relative;
  height: 50px;
}
.header-botton {
  float: right;
  top: 25px;
  transform: translate(0, -50%);
  margin-right: 0;
  border: 0;
  display: inline;
}
.icon-bar {
  background-color: #fff;
}
@media (min-width: 768px) {
  .navbar-collapse.collapse {
    display: none !important;
  }
}
@media (min-width: 1024px) {
  .navbar-collapse.collapse {
    display: block !important;
  }
}
@media (max-width: 1023px) {
  .navbar-default .navbar-toggle {
    display: inherit;
  }
  .navbar-default .collapse.in {
    display: block !important;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  .navbar-default .navbar-nav li {
    float: none;
  }
  .navbar-default .navbar-nav li a {
    padding: 10px 15px 10px 15px;
  }
  .navbar-default .navbar-header {
    padding-right: 15px;
  }
}
.navbar-collapse {
  float: right;
}
.navbar-header {
  padding-right: 0;
}
.navbar-toggle {
  margin-right: 0;
  border: 0;
  background-color: transparent;
  z-index: 99
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #fff;
}
.navbar-default .navbar-nav > li > a {
  color: #fff;
}
.navbar-default .navbar-nav {
  padding-top: 40px;
}
.sm_logo {
  position: absolute;
  left: 15px;
  display: block;
  height: 40px;
  max-width: 220px;
}
.header_adv {
  background-color: #f1a750;
}
.header_adv_img {
  max-width: 100%;
}
.logo_img {
  display: none;
}

.line1 p {
  padding: 15px;
}

.mainbody {
  background-color: #fafafa;
}
.mainbody_left_row {
  background-color: #fff;
  border: 1px solid #e6e6e6;
  text-align: center;
}
.mainbody_title_p {
  padding: 30px 0 10px 0;
  border-bottom: 1px solid #e6e6e6;
  font-weight: bold;
}
.circle_hollow {
  position: relative;
  float: left;
  width: 10px;
  height: 10px;
  top: 5px;
  margin-right: 5px;
  border-radius: 50%;
  border: 1px solid #ff7628;
}
.circle_solid {
  position: relative;
  float: left;
  width: 10px;
  height: 10px;
  top: 5px;
  margin-right: 5px;
  border-radius: 50%;
  border: 1px solid #ff7628;
  background-color: #ff7628;
}
.enterprice_name {
  float: left;
}
.enterprice_box {
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
  float: left;
  width: 90px;
}
.enterprice_row1 {
  padding: 10px 0 10px 0;
}
.enterprice_row {
  padding: 10px 0 10px 0;
}
.enterprice_name_actived {
  color: #ff7628
}
