* {
  padding: 0;
  margin: 0;
}

.row1 {
  background-color: #fff;
}
.tel_words {
  color: green;
}
.row1_phone,
.row1_qq,
.row1_wechat {
  float: right;
}

.nav-header,
.navbar {
  border: 0;
  background-color: #29b078;
}
.nav-header {
  position: relative;
  margin: 0 -15px;
}
.nav_header_link {
  position: absolute;
  top: 50%;
}
.nav_header_link li {
  list-style: none;
}
.nav_header_link li a {
  float: right;
  display: block;
  font-size: 16px;
  text-align: center;
  color: white;
}

.slide {
  margin: 0 -15px;
}
.caption_box {
  bottom: 50%;
  transform: translate(0, 50%);
}
.caption_line1 {
  font-size: 20px;
}
.caption_line2_left {
  font-size: 50px;
}
.caption_line2_right {
  font-size: 25px;
}

.advantages {
  text-align: center;
  padding: 70px 0;
  background-color: #fafafa;
}
.effective_p1,
.standard_p1,
.connection_p1 {
  padding: 20px 0;
  margin-bottom: 0;
  font-size: 16px;
  font-weight: bold;
}
.effective_p2,
.standard_p2,
.connection_p2,
.study_p {
  color: #dddddd;
}
.connection {
  border-right: 1px dashed #dedede;
}
.study {
  height: 180px;
}
.study_content {
  position: relative;
  top: 45px;
}
.study_num {
  color: #65b691;
}

.learn_row {
  background-color: #fafafa;
}
.howtolearn {
  position: relative;
  transform: translate(-50%, 0);
  font-size: 14px;
  font-weight: bold;
}

.learn1_4 {
  text-align: left;
  background-color: #fafafa;
}
.step {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  text-align: center;
  background-color: #ffffff;
}
.number {
  position: relative;
  color: #29b078;
  top: 18.5px;
  font-weight: bold;
}
.step_words {
  float: left;
  padding: 0;
  margin: 0;
  font-size: 14px;
  color: #cacaca;
}
.right_arrow {
  position: relative;
  width: 35px;
  height: 35px;
  padding: 0;
  left: 16.6%;
  transform: translate(-50%, 50%);
}
