* {
  padding: 0;
  margin: 0;
}

.page_background_color {
  background-color: #fff;
}

.tel_words {
  position: relative;
  color: green;
  transform: translate(0, 50%);
}
.row1_phone,
.row1_qq,
.row1_wechat {
  float: right;
}

.navbar-header,
.navbar {
  border: 0;
  margin-bottom: 0;
  background-color: #29b078;
  text-align: center;
}
.nav-header {
  position: relative;
  margin: 0 -15px;
  background-color: #29b078;
}
.navbar-default .navbar-nav > li {
}
.navbar-default .navbar-nav > li > a {
  padding: 15px 15px 0 15px;
  color: #fff;
}
.navbar-default .navbar-nav > li > div {
  position: relative;
  top: 10px;
  padding-bottom: 5px;
}
.navbar-default .navbar-nav > li > a:hover {
  color: #fff;
  background-color: transparent;
}
.navbar-default .navbar-nav > li:hover div {
  background-color: #fff;
}
.navbar-collapse {
  float: right;
  right: 16.66%;
}
.sm_logo {
  display: none;
}
.clear {
  display: none;
}

.slide {
  margin: 0 -15px;
}
.caption_box {
  bottom: 50%;
  transform: translate(0, 50%);
}
.caption_line1 {
  font-size: 20px;
}
.caption_line2_left {
  font-size: 50px;
}
.caption_line2_right {
  font-size: 25px;
}
.small_caption_box {
  display: none;
}

.advantages {
  text-align: center;
  padding: 70px 0;
  background-color: #fafafa;
}
.effective_p1,
.standard_p1,
.connection_p1 {
  padding: 20px 0;
  margin-bottom: 0;
  font-size: 16px;
  font-weight: bold;
}
.effective_p2,
.standard_p2,
.connection_p2 {
  text-align: left;
  color: #dddddd;
}
.study {
  height: 180px;
}
.study_img {
  padding: 0;
  margin-right: 15px;
}
.study_p {
  padding: 0;
  color: #dddddd;
  text-align: left;
}
.study_content {
  height: 100%;
  border-left: 1px dashed #dedede;
}
.study_content .row {
  position: relative;
  top: 45px;
}
.study_num {
  font-size: 16px;
  font-weight: bold;
  color: #65b691;
}
.advertise_small {
  display: none;
}

.learn_row {
  background-color: #fafafa;
  text-align: center;
}
.howtolearn {
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
}

.learn1_4,
.learn5_8 {
  padding: 40px 0;
  background-color: #fafafa;
}
.step_box {
  float: left;
  width: 16.7vw;
}
.step_circle {
  float: left;
  width: 50px;
  height: 50px;
  border: 1px solid #ececec;
  border-radius: 50%;
  background-color: #fff;
  text-align: center;
}
.step_circle p {
  position: relative;
  top: 50%;
  transform: translate(0, -50%);
  color: green;
  font-weight: bold;
}
.step_words {
  float: left;
  position: relative;
  top: 12px;
  width: 8.4vw;
  padding-right: 0;
  padding-left: 15px;
  font-size: 12px;
  color: #a8a8a8;
}
.step_img {
  float: left;
  position: relative;
  top: 10px;
  width: 30px;
  height: 30px;
  padding: 0;
}
.margin_left {
  margin-left: 15px;
}

.students_show {
  background-color: #fafafa;
  padding: 40px 0;
  text-align: center;
}
.students_show_p {
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
}

.student_pictures {
  background-color: #fafafa;
  text-align: center;
}
.student_box {
  background-color: #ffffff;
  padding: 0 15px 10px 15px;
}
.student_img {
  margin-top: 20px;
}
.student_title {
  font-size: 16px;
  margin: 20px 0;
  font-weight: bold;
}
.student_words {
  text-align: left;
  color: #b0b0b0;
}

.point {
  background-color: #fafafa;
  padding: 20px 0;
  text-align: center;
}
.point_box {
  display: inline-block;
}
.point_green,
.point_gray {
  float: left;
  margin: 0 5px;
  width: 10px;
  height: 10px;
  border: 1px solid #ececec;
  border-radius: 50%;
}
.point_green {
  background-color: #29b078;
}
.point_gray {
  background-color: #ffffff;
}

.enterprice {
  background-color: #fafafa;
  padding: 80px 0 40px 0;
  text-align: center;
}
.enterprice_p {
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
}

.enterprice_pictures  {
  background-color: #fafafa;
  padding-bottom: 80px;
}
.img_box {
  float: left;
  width: 20%;
  height: 150px;
  background-color: #fff;
  text-align: center;
}
.img_box img {
  position: relative;
  top: 50%;
  transform: translate(0, -50%);
}
.img_box:hover {
  box-shadow: 10px 10px 5px #888888;
}

.friend_link {
  background-color: #fff;
  text-align: center;
}
.friend_link p {
  margin-top: 20px;
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
}

.link_line {
  margin-top: 10px;
  color: #999999;
}
.link_line2 {
  margin: 10px 0;
  color: #999999;
}
.link {
  float: left;
  width: 10%;
  text-align: left;
}

.navbar-bottom {
  position: absolute;
  height: 400px
  bottom: 0;
  margin: 0 -15px 0 -15px;
  background-color: #26a26f;
  overflow-x: hidden;
}
.footer_body {
  margin-top: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid white;
  color: white;
}

.footerbody_left,
.footerbody_right {
  position: relative;
  right: 45px;
  text-align: left;
}
.footerbody_left p,
.footerbody_right p {
  margin-bottom: 20px;
}
.foterbody_left_contact {
  position: relative;
  top: 40px;
}
.footerbody_left a,
.footerbody_right a {
  text-decoration: none;
  color: white;
}
.footerbody_left a:hover {
  text-decoration: underline;
}
.footerbody_right a:hover {
  text-decoration: underline;
}
.footerbody_left_title,
.footerbody_right_title {
  font-size: 16px;
}
.weixin_box {
  margin-right: 10%;
}

.copyright {
  color: white;
  font-size: 8px;
  text-align: center;
}
.copyright_line {
  display: inline-block;
}
.copyright_p {
  float: left;
  padding-right: 5px;
  border-right: 1px solid #fff;
}
.beian {
  float: left;
  padding-left: 5px;
}

/* TODO: 清除small添加的 */
.small-header {
  display: none;
}
.small_header_img {
  display: none;
}
