* {
  padding: 0;
  margin: 0;
}

.row1 {
  background-color: #fff;
}
.tel_words {
  color: green;
}
.row1_phone,
.row1_qq,
.row1_wechat {
  float: right;
}

.nav-header,
.navbar {
  border: 0;
  background-color: #29b078;
}
.nav-header {
  position: relative;
  margin: 0 -15px;
}
.nav_header_link {
  position: absolute;
  top: 50%;
}
.nav_header_link li {
  list-style: none;
}
.nav_header_link li a {
  float: right;
  display: block;
  font-size: 16px;
  text-align: center;
  color: white;
}
