* {
  margin: 0;
  padding: 0;
}

.container {
  padding-left: 15px;
  margin-left: auto;
  margin-right: auto;
}

.header {
  position: fixed;
  margin-left: -15px;
  margin-right: -15px;
  min-height: 20px;
  width: 100%;
  background-color: #5fc0cd;
  z-index: 99;

  .header_top {
    float: left;
    width: 100%;
    height: 50px;

    .header_top_center {
      position: relative;
      float: left;
      left: 50%;
      top: 5px;
      height: 40px;
      transform: translate(-50%, 0);
      background-color: #55a8b3;
      border-radius: 10%;

      .find_job_btn {
        height: 40px;
        width: 72px;
        border: 0;
        background-color: #55a8b3;
        color: #fff;
        border-radius: 10%;
      }
      .find_worker_btn {
        height: 40px;
        width: 72px;
        border: 0;
        background-color: #fff;
        color: #55a8b3;
        border-radius: 10%;
      }
    }
    .header_top_right_img {
      float: right;
      right: 15px;
      width: 36px;
      height: 44px;
    }
  }

}
