*{
  margin: 0;
  padding: 0;
}
.color_fff {
  color: #fff;
}
.color_black {
  color: black;
}
.color_ff7f02 {
  color: #ff7f02;
}
.color_cccccc {
  color: #cccccc;
}
.borderright_cccccc {
  border-right: 1px solid #cccccc;
}
.bordertop_cccccc {
  border-top: 1px solid #cccccc;
}
.backgroundcolor_f9f9f9 {
  background-color: #f9f9f9;
}
.backgroundcolor_ff7f02 {
  background-color: #ff7f02;
}
.backgroundcolor_cccccc {
  background-color: #cccccc;
}
.backgroundcolor_f2f2f2 {
  background-color: #f2f2f2;
}
.backgroundcolor_1d7ad9 {
  background-color: #1d7ad9;
}
.padding0 {
  padding: 0;
}
.padding_right0 {
  padding-right: 0;
}
.padding_left0 {
  padding-left: 0;
}
.margin_bottom0 {
  margin-bottom: 0;
}
.border0 {
  border: 0;
}


/* TODO: input style */
input[type="radio"] {
  position: absolute;
  float: left;
  width: 20px;
  height: 20px;
  opacity: 0;
  z-index: 99;
}
label {
  position: absolute;
  left: 5px;
  top: 7.5px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 1px solid #999;
}
input:checked+label {
  background-color: #1d7ad9;
  border: 1px solid #1d7ad9;
}
input:checked+label::after {
  position: absolute;
  content: "";
  width: 5px;
  height: 5px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  background-color: #fff;
}

.telcall {
  float: left;
  width: 200px;
  padding: 0 15px 0 15px;
  margin-bottom: 10px;
}
.sign_in {
  padding: 5px 0 5px 0;
  border-left: 1px solid #fff;
  border-right: 1px solid #fff;
  text-align: center;
  color: #fff;
  background-color: #1d7ad9;
}
.register {
  padding: 5px 0 5px 0;
  text-align: center;
  color: black;
  background-color: #fff;
}
.header_right {
  float: right;
  width: 155px;
  margin-bottom: 0;
  padding-right: 15px;
}
@media (max-width:424px) {
  .telcall {
    float: left;
    width: 100px;
    padding: 0 15px 0 15px;
    margin-bottom: 10px;
  }
  .header_right {
    float: right;
    width: 105px;
    margin-bottom: 0;
  }
  .sign_in {
    padding: 25px 0 25px 0;
  }
  .register {
    padding: 25px 0 25px 0;
  }
}


.header_buttons {
  min-width: 350px;
  padding: 20px 0 20px 0;
  text-align: center;
}
.header_link {
  padding: 10px 0 10px 0;
  background-color: #fff;
}
.activated_header_link {
  background-color: #1d7ad9;
}
.activated_header_link a {
  color: #fff;
}
.ensure {
  padding-right: 0;
}
@media (max-width:768px) {
  .link_row {
    width: 100%;
    left: 0;
    margin: 0;
    padding: 0;
  }
  .header_buttons {
    min-width: 175px;
    width: 175px;
    right: 50%;
    transform: translate(50%, 0);
  }
  .header_link_div {
    width: 50%;
  }
  .ensure {
    padding-right: 15px;
  }
}

.step_row {
  float: right;
  padding: 20px 0 20px 0;
}
.step_img {
  width: 161px;
  height: 40px;
}
.step_img_div {
  float: left;
  text-align: center;
}
.step_row_small {
  display: none;
}
@media (max-width: 1023px) {
  .step_row {
    display: none;
  }
  .step_row_small {
    margin: 20px 0 20px 0;
    display: inherit;
    border: 1px solid #cccccc;
  }
  .step_box {
    padding: 0;
    text-align: center;
  }
  .circle {
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
    width: 30px;
    height: 30px;
    margin: 20px 0 20px 0;
    border-radius: 50%;
  }
  .circle p {
    position: relative;
    top: 5px;
    margin-bottom: 0;
  }
}

.main_form {
  margin-top: 10px;
  border: 1px solid #cccccc;
}
.function_container {
  float: left;
  width: 100%;
}
.function_img {
  float: left;
}
.function_p {
  position: relative;
  float: left;
  margin-left: 5px;
  top: 5px;;
  color: #1d7ad9;
  font-size: 20px;
}
.boxstyle_container {
  float: left;
  width: 100%;
  padding: 20px 0 20px 0;
  background-color: #fbfcff;
}
.from_choice_p {
  position: relative;
  float: left;
  top: 7.5px;
  margin-left: 15px;
  margin-bottom: 0;
}
.from_input {
  position: relative;
  top: 7.5px;
  padding: 0;
}
.from_input_p {
  float: left;
  margin-bottom: 0;
}
.size_datainput {
  float: left;
  width: 30px;
  margin: 0 5px 0 5px;
  border: 1px solid #999;
}
.material_box {
  position: relative;
  float: left;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  width: 20%;
}
.next_step {
  margin-top: 80px;
  margin-bottom: 60px;
}
.next_step_button {
  padding: 10px 0 10px 0;
  background-color: red;
  text-align: center;
}
.size_row1 {
  margin-bottom: 20px;
}
.select-style {
  position: relative;
  float: right;
  right: 15px;
  width: 9rem;
  background-image: url("images/shape12.jpg");
  background-repeat: no-repeat;
  background-position-x: 100%;
  -webkit-appearance: none;
  color: #cccccc;
}
.size_select {
  top: 17.5px;
}
@media (max-width: 1023px) {
  .boxstyle_radio {
    float: left;
    width: 100%;
    margin-bottom: 20px;
  }
  .size_row1 {
    width: 150px;
    margin-right: 0;
  }
  .material_row {
    width: 150px;
  }
  .material_box {
    position: relative;
    float: left;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    margin-top: 20px;
    width: 100%;
  }
  .outer_radio,
  .inner_radio {
    float: left;
    width: 100%;
    margin-bottom: 20px;
  }
  .from_input {
    float: left;
    width: 100%;
    margin-bottom: 20px;
  }
  .size_select {
    top: 189px;
  }
  .box_select {
    top: 40px;
  }
  .material_select {
    top: 100px;
  }
  .next_step {
    width: 100px;
    left: 50%;
    transform: translate(-50%, 0);
  }
  .footerbody_leftp {
    padding-left: 15px;
  }
}
@media (max-width: 424px) {
  .boxstyle_radiobox {
    width: 100%;
  }
  .box_select {
    float: left;
    top: 0;
    margin-top: 20px;
    margin-left: 30px;
  }
  .size_select {
    float: left;
    top: 0;
    margin-left: 30px;
  }
  .size_radiobox {
    width: 100%;
  }
  .size_row1 {
    width: 100%;
  }
  .material_row {
    width: 100%;
  }
  .material_select {
    float: left;
    margin-top: 40px;
    top: 0;
    margin-left: 30px;
  }
}

.navbar-bottom {
  position: relative;
  background-color: #f9f9f9;
  margin-top: 80px;
}
.footerbody_leftp {
  margin-top: 40px;
  color: #999999;
  font-size: 16px;
}
.footerbody_center {
  margin-top: 40px;
}
.footerbody_center .active_link {
  color: #90b3e6;
}
.footerbody_center .notactive_link {
  color: #999999;
}
.footerbody_right {
  float: left;
  margin-top: 40px;
}
.footerright_wordbox {
  float: right;
  color: #999999;
}
.footerright_imgbox {
  float: right;
  margin-left: 10px;
}
.copyright {
  text-align: center;
  background-color: #1d7ad9;
}
.copyright_span {
  color: #dfe8f8;
}
.copyright_p {
  position: relative;
  top: 5px;
}
