*{
  margin: 0;
  padding: 0;
}
.backgroundcolor_1d7ad9 {
  background-color: #1d7ad9;
}
.color_fff {
  color: #fff;
}
.color_black {
  color: black;
}
.color_ff7f02 {
  color: #ff7f02;
}
.color_cccccc {
  color: #cccccc;
}
.margin_bottom0 {
  margin-bottom: 0;
}
.border0 {
  border: 0;
}
.borderright_cccccc {
  border-right: 1px solid #cccccc;
}
.bordertop_cccccc {
  border-top: 1px solid #cccccc;
}
.padding0 {
  padding: 0;
}
.padding_right0 {
  padding-right: 0;
}
.padding_left0 {
  padding-left: 0;
}
.backgroundcolor_f9f9f9 {
  background-color: #f9f9f9;
}
.backgroundcolor_ff7f02 {
  background-color: #ff7f02;
}
.backgroundcolor_cccccc {
  background-color: #cccccc;
}
.backgroundcolor_f2f2f2 {
  background-color: #f2f2f2;
}

.telcall {
  float: left;
  width: 200px;
  padding: 0 15px 0 15px;
  margin-bottom: 10px;
}
.sign_in {
  padding: 5px 0 5px 0;
  border-left: 1px solid #fff;
  border-right: 1px solid #fff;
  text-align: center;
  color: #fff;
  background-color: #1d7ad9;
}
.register {
  padding: 5px 0 5px 0;
  text-align: center;
  color: black;
  background-color: #fff;
}
.header_right {
  float: right;
  width: 155px;
  margin-bottom: 0;
  padding-right: 15px;
}
@media (max-width:424px) {
  .telcall {
    float: left;
    width: 100px;
    padding: 0 15px 0 15px;
    margin-bottom: 10px;
  }
  .header_right {
    float: right;
    width: 105px;
    margin-bottom: 0;
  }
  .sign_in {
    padding: 25px 0 25px 0;
  }
  .register {
    padding: 25px 0 25px 0;
  }
}


.header_buttons {
  min-width: 350px;
  padding: 20px 0 20px 0;
  text-align: center;
}
.header_link {
  padding: 10px 0 10px 0;
  background-color: #fff;
}
.activated_header_link {
  background-color: #1d7ad9;
}
.activated_header_link a {
  color: #fff;
}
.ensure {
  padding-right: 0;
}
@media (max-width:768px) {
  .link_row {
    width: 100%;
    left: 0;
    margin: 0;
    padding: 0;
  }
  .header_buttons {
    min-width: 175px;
    width: 175px;
    right: 50%;
    transform: translate(50%, 0);
  }
  .header_link_div {
    width: 50%;
  }
  .ensure {
    padding-right: 15px;
  }
}

.step_row {
  float: right;
  padding: 20px 0 20px 0;
}
.step_img {
  width: 161px;
  height: 40px;
}
.step_img_div {
  float: left;
  text-align: center;
}
.step_row_small {
  display: none;
}
@media (max-width: 1023px) {
  .step_row {
    display: none;
  }
  .step_row_small {
    margin: 20px 0 20px 0;
    display: inherit;
    border: 1px solid #cccccc;
  }
  .step_box {
    padding: 0;
    text-align: center;
  }
  .circle {
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
    width: 30px;
    height: 30px;
    margin: 20px 0 20px 0;
    border-radius: 50%;
  }
  .circle p {
    position: relative;
    top: 5px;
    margin-bottom: 0;
  }
}

.main_form {
  margin-top: 10px;
  border: 1px solid #cccccc;
}
.function_container {
  float: left;
  width: 100%;
}
.function_img {
  float: left;
}
.function_p {
  position: relative;
  float: left;
  margin-left: 5px;
  top: 5px;;
  color: #1d7ad9;
  font-size: 20px;
}
.boxstyle_container {
  float: left;
  width: 100%;
  padding: 20px 0 20px 0;
  background-color: #fbfcff;
}
.from_choice_img {
  float: left;
}
.from_choice_p {
  position: relative;
  float: left;
  top: 7.5px;
  margin-left: 5px;
  margin-bottom: 0;
}
.detail_box {
  float: right;
  padding: 0 10px 0 10px;
  border: 1px solid #cccccc;
  background-color: #fff;
}
.detail_p {
  position: relative;
  float: left;
  top: 7.5px;
  margin-bottom: 0;
  color: #d3d3d3;
}
.detail_img {
  float: left;
}
.from_input {
  position: relative;
  top: 7.5px;
}
.from_input_p {
  float: left;
  margin-bottom: 0;
}
.from_input_area {
  float: left;
  width: 40px;
  height: 20px;
  margin: 0 5px 0 5px;
  border: 1px solid #cccccc;
  background-color: #fff;
}
.detail_box_boxsize {
  position: relative;
  float: right;
  top: 14px;
  padding: 0 10px 0 10px;
  border: 1px solid #cccccc;
  background-color: #fff;
}
